/* General container styles */
.weather-forecast {
  height: 100vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.5s ease;
  color: #fff;
}

/* Backgrounds for different weather conditions */
.weather-forecast.sunny-bg {
  background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWlxd3E5MzdqaWY3N2ZmdzF5ZnltZXcza2Q1c3hkc3Jrb251ZnE3OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KV1s4kSJHaY3m/giphy.webp'); /* Replace with your sunny image URL */
}

.weather-forecast.rainy-bg {
  background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHowNGJqZGZiNzA0a2dybjc0azc5ZTJlb2wzMHp2MjNvd3Q3dTlxNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/IuVFGSQZTd6TK/giphy.webp'); /* Replace with your rainy image URL */
}

.weather-forecast.cloudy-bg {
  background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExc2d1b3VieG5paGd5Mm5qaG55ZjRqdTlwNnVzMHU5dDR0enh1NGN4byZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VDGOdvmp1bpc3PcCry/giphy.webp'); /* Replace with your cloudy image URL */
}

.weather-forecast.snowy-bg {
  background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExeDg3ejllZ2gyazRrcHJ1YXBhbHlzZm16c2d4aWc3eTU3MW13MDFyMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Fh3ezinVpi4yk/giphy.webp'); /* Replace with your snowy image URL */
}

.weather-forecast.default-bg {
  background-color: #243e36; /* Fallback background color */
}

/* Input field and button */
.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.weather-input {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #7ca982;
  border-radius: 4px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #243e36;
}

.weather-input::placeholder {
  color: #7ca982;
}

.weather-button {
  background-color: #7ca982;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.weather-button:hover {
  background-color: #5c8b64;
}

/* Title and error message */
.weather-title {
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.error {
  color: red;
  text-shadow: none;
  text-align: center;
  margin-top: 10px;
}

/* Weather information styling */
.weather-info {
  text-align: center;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  background: #fff;
}

.weather-info h2,
.weather-info p {
  margin: 10px 0;
  font-size: 18px;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 600px) {
  .weather-input {
    width: 150px;
  }

  .weather-title {
    font-size: 24px;
  }
}
